---
layout: default
---

<div class="row">
  <div class="col-md-8 ">
    <div class="videoWrapper-750x500">
      <iframe width="750" height="500" src="https://www.youtube.com/embed/{{page.yt}}" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-md-4">
    <h3>Project Description</h3>
      {{ content }}
    <br />
    <br />
    <a class="btn btn-primary" href="https://github.com/jjcorona/{{page.gh}}">Github<span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>
